body {
  margin: 0 auto;
  font-family: "IBM Plex Mono", monospace;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
}

.hero-img {
  position: absolute;
  background-color: yellow;
  height: 50vh;
  width: 100%;
  z-index: -1;
  background-size: cover;
}

.logo {
  color: black;
  font-weight: bold;
  font-size: 3rem;
  margin: 0.5em;
  padding: 0.5em;
  border: 2px solid black;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  height: 120vh;
  width: 110%;
  z-index: 999;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 1s, ease-in-out;

  ul {
    list-style-type: none;
    width: 100%;
    padding-top: 5em;
    margin-left: auto;
    margin-right: auto;
    display: block;

    a {
      color: black;
      padding: 0.75em 2em;
      display: block;
      width: 100%;

      &:hover {
        background: yellow;
      }
    }
  }
  .close {
    display: block;
    float: right;
    margin: 2em;
    width: 2em;
    height: 4em;
    padding: 1em;

    &:hover {
      background: yellow;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: block;
  float: right;
  margin: 2em;
  width: 2em;
  height: 4em;
  padding: 1em;
}

.open-nav {
  transform: translateY(0);
}
